{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script>
        function autoRefresh() {
            console.log('Auto-refresh script loaded');
            setTimeout(function() {
                location.reload();
            }, 10000);
        }
        window.onload = autoRefresh;
    </script>

</head>
<body>
{% block content %}
    <h1>User {{context.name}} Logged In Successfully!</h1>
    <h2>Course : {{context.course}}</h2>
    <h2>Email : {{context.email}}</h2>
    <h2>Age : {{context.age}}</h2>

    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

{% endblock %}
</body>
</html>